<div ng-controller="itemlistController" class="content">
	<ul class="clear item">
		<li><a href="#">全部</a></li>
		<li><a href="#">微电影</a></li>
		<li><a href="#">电影</a></li>
		<li><a href="#">电视剧</a></li>
		<li><a href="#">戏曲</a></li>
		<li><a href="#">话剧</a></li>
		<li><a href="#">书画</a></li>
		<li><a href="#">相声</a></li>
		<li><a href="#">戏剧</a></li>
		<li><a href="#">音乐剧</a></li>
		<li><a href="#">其他</a></li>
	</ul>
	<ul class="clear item">
		<li><a href="#">筹资中</a></li>
		<li><a href="#">即将结束</a></li>
		<li><a href="#">已结束</a></li>
	</ul>
	<ul class="clear item">
		<li><a href="#">最新</a></li>
		<li><a href="#">热门</a></li>
		<li><a href="#">结束时间</a></li>
	</ul>
</div>
<div class="itembox">
		<div class="hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>音乐剧</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img3.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《鬼吹灯》微电影周剧</h2>
						<span>by 上海微影视</span>
						<p>《鬼吹灯》是一部中国大陆的网络小说，作者为天下霸唱，主要内容是盗墓寻宝...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>100%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥10,000</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>3</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img4.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《战马》音乐剧</h2>
						<span>by 上海戏剧学院</span>
						<p>《战马》改编自英国桂冠作家麦克·莫波格的同名小说,是一部影响力很广的...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>120%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥62,590</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>18</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>音乐剧</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img3.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《鬼吹灯》微电影周剧</h2>
						<span>by 上海微影视</span>
						<p>《鬼吹灯》是一部中国大陆的网络小说，作者为天下霸唱，主要内容是盗墓寻宝...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>100%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥10,000</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>3</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img4.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《战马》音乐剧</h2>
						<span>by 上海戏剧学院</span>
						<p>《战马》改编自英国桂冠作家麦克·莫波格的同名小说,是一部影响力很广的...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>120%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥62,590</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>18</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>音乐剧</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img3.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《鬼吹灯》微电影周剧</h2>
						<span>by 上海微影视</span>
						<p>《鬼吹灯》是一部中国大陆的网络小说，作者为天下霸唱，主要内容是盗墓寻宝...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>100%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥10,000</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>3</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="hot-bottom">
				<img src="img/hot-img4.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《战马》音乐剧</h2>
						<span>by 上海戏剧学院</span>
						<p>《战马》改编自英国桂冠作家麦克·莫波格的同名小说,是一部影响力很广的...</p>
						<p class="icon">
						<span class="iconfont">&#xe600;</span>
						<span>微电影</span>
						</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>120%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥62,590</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>18</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<ul class="indicator">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>...</li>
			<li>&gt;</li>
			<li>尾页</li>
		</ul>
</div>