<div class="pay2-Content" ng-controller="pay2Controller">
	<h2>《犹太人在上海》音乐剧</h2>
	<img src="img/2.png" alt="">
	<span>订单号:<b>4496480277289</b></span>
	<span>请您在<span class="orange">24小时</span>内付清款项，否则订单会被自动取消。</span>
	<div class="paynav">
		<a class="bg" href="#">快捷支付</a>
		<a href="#">网银支付</a>
		<p><span>应付款</span><span class="orange">¥5.00</span></p>
	</div>
	<div class="bank">
		<h1>请选择银行:</h1>
		<ul>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
			<li>
				<span class="focus"></span>
				<img src="img/bank.png" alt="">
			</li>
		</ul>
	</div>
	<a ui-sref="pay3" class="pay">确认支付</a>
</div>