<div class="personaljilu">
	<a class="blue" href="#">全部</a>
	<a href="#">已支付</a>
	<a href="#">未支付</a>
	<img src="../img/xiangmuxinxi.png" alt="">
	<div class="paybox">
		<img src="../img/youtairen.png" alt="">
		<div class="paybox-txt">
			<h2>《犹太人在上海》音乐剧</h2>
			<p> by 恒源祥戏剧创意</p>
			<b>订单号：4496480277289</b>
		</div>
		<span>¥5.00</span>
		<span>支付成功</span>
		<div class="pay-blue">
			<p>交易详情</p>
			<p>删除</p>
		</div>
	</div>
	<div class="paybox">
		<img src="../img/youtairen.png" alt="">
		<div class="paybox-txt">
			<h2>《犹太人在上海》音乐剧</h2>
			<p> by 恒源祥戏剧创意</p>
			<b>订单号：4496480277289</b>
		</div>
		<span>¥5.00</span>
		<span>支付成功</span>
		<div class="pay-blue">
			<p>交易详情</p>
			<p>删除</p>
		</div>
	</div>
	<div class="paybox">
		<img src="../img/youtairen.png" alt="">
		<div class="paybox-txt">
			<h2>《犹太人在上海》音乐剧</h2>
			<p> by 恒源祥戏剧创意</p>
			<b>订单号：4496480277289</b>
		</div>
		<span>¥5.00</span>
		<span>支付成功</span>
		<div class="pay-blue top">
			<img src="../img/pay.png" alt="">
			<p>交易详情</p>
			<p>删除</p>
		</div>
	</div>
	<div class="paybox">
		<img src="../img/youtairen.png" alt="">
		<div class="paybox-txt">
			<h2>《犹太人在上海》音乐剧</h2>
			<p> by 恒源祥戏剧创意</p>
			<b>订单号：4496480277289</b>
		</div>
		<span>¥5.00</span>
		<span>支付成功</span>
		<div class="pay-blue">
			<p>交易详情</p>
			<p>删除</p>
		</div>
	</div>
	<div class="paybox">
		<img src="../img/youtairen.png" alt="">
		<div class="paybox-txt">
			<h2>《犹太人在上海》音乐剧</h2>
			<p> by 恒源祥戏剧创意</p>
			<b>订单号：4496480277289</b>
		</div>
		<span>¥5.00</span>
		<span>支付成功</span>
		<div class="pay-blue">
			<p>交易详情</p>
			<p>删除</p>
		</div>
	</div>
	<ul class="pay-indicator">
		<li class="pay-active">1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li class="none">...</li>
		<li>></li>
		<li>尾页</li>
	</ul>
</div>