<div class="personalmessage-right">
	<img src="../img/changheader.png" alt="">
	<span>用户昵称</span>
	<input class="message-txt" type="text" name="">
	<br>
	<span class="sex">性别</span>
	<span class="icon"></span>
	<span>男</span>
	<span class="icon"></span>
	<span>女</span>
	<br>
	<span>关注圈子</span>
	<ul class="radiobox">
		<li>
			<span class="radio radiobg"></span>
			<span>微电影</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>电影</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>电视剧</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>戏曲</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>相声</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>话剧</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>书画</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>戏剧</span>
		</li>
		<li>
			<span class="radio radiobg"></span>
			<span>音乐剧</span>
		</li>
		<li>
			<span class="radio"></span>
			<span>歌剧</span>
		</li>
	</ul>
	<img src="../img/save.png" alt="">
</div>