<div class="personal-right">
	<img class="personal-right-title" src="../img/blue.png" alt="">
	<div class="itemBox">
		<div class="itemBox-img">
			<img src="../img/youtairen.png" alt="">
			<div class="itemBox-txt">
				<h2>《犹太人在上海》音乐剧</h2>
				<p>by 恒源祥戏剧创意</p>
				<img class="img1" src="../img/progressbar1.png" alt="">
				<img class="img2" src="../img/progressbar2.png" alt="">
				<span>已筹资<b>¥15,498</b></span>
			</div>
		</div>
		<div class="itemBox-img">
			<img src="../img/youtairen.png" alt="">
			<div class="itemBox-txt">
				<h2>《犹太人在上海》音乐剧</h2>
				<img class="img1" src="../img/progressbar1.png" alt="">
				<img class="img2" src="../img/progressbar2.png" alt="">
				<span>已筹资<b>¥15,498</b></span>
			</div>
		</div>
		<div class="itemBox-img">
			<img src="../img/youtairen.png" alt="">
			<div class="itemBox-txt">
				<h2>《犹太人在上海》音乐剧</h2>
				<p>by 恒源祥戏剧创意</p>
				<img class="img1" src="../img/progressbar1.png" alt="">
				<img class="img2" src="../img/progressbar2.png" alt="">
				<span>已筹资<b>¥15,498</b></span>
			</div>
		</div>
		<div class="itemBox-img">
			<img src="../img/youtairen.png" alt="">
			<div class="itemBox-txt">
				<h2>《犹太人在上海》音乐剧</h2>
				<p>by 恒源祥戏剧创意</p>
				<img class="img1" src="../img/progressbar1.png" alt="">
				<img class="img2" src="../img/progressbar2.png" alt="">
				<span>已筹资<b>¥15,498</b></span>
			</div>
		</div>
	</div>
</div>
<div class="personal-hot">
	<img src="../img/hot.png" alt="">
	<div class="personal-hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
		</div>
	</div>
	<div class="personal-hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
		</div>
	</div>
	<div class="personal-hot-bottom">
				<img src="img/hot-img2.png" alt="">
				<div class="text">
					<div class="text">
						<h2 class="title">《晚秋》再现舞台</h2>
						<span>by 韩国宝蓝影业有限公司</span>
						<p>中国、以色列联合创作的大型音乐剧《犹太人在上海》以音乐剧这一公认最具挑战性的艺术形式...</p>
						<img src="img/progressbar1.png" alt="">
						<img class="progressbar2" src="img/progressbar2.png" alt="">
						<ul class="clear">
							<li>
								<p>48%</p>
								<span>进度</span>
							</li>
							<li>
								<p>¥15,498</p>
								<span>支持金额</span>
							</li>
							<li>
								<p>6</p>
								<span>剩余天数</span>
							</li>
						</ul>
				</div>
		</div>
	</div>
</div>